<div class="container p-5">

    <div class="row text-light">
        <div class="col">
            <h1>SelandaTV</h1>
    
            <div class="p-2">
                <hr>
                <br>
                <h5>¿Qu&eacute; es SelandaTv?</h5>
                <p>Se trata de un reproductor de canales de televisi&oacute;n de todo el mundo que emitan en abierto.</p>
            </div>
            <div class="p-2">
                <hr>
                <br>
                <h5>¿Qu&eacute; tecnolog&iacute;a utiliza?</h5>
                <p>Desarrollado en Angular, utiliza una petici&oacute;n din&aacute;mica de canales a una lista de GitHub para reproducirlos en el reproductor Videogular</p>
            </div>
            <div class="p-2">
                <hr>
                <br>
                <h5>Declaraci&oacute;n de responsabilidad</h5>
                <p>SelandaTV ha sido desarrollado con fines educativos y sin &aacute;nimo de lucro, el creador no se hace responsable del contenido que se reproduzca ni de el uso que se le d&eacute;.</p>
            </div>
            <div class="p-2">
                <hr>
                <br>
                <h5>Contacto</h5>
                <a href="https://selandadev.000webhostapp.com">Desarrollado por Fran Garc&iacute;a</a>
            </div>
        </div>
    </div>

</div>


