<div class="row text-center">
    <div class="col header text-light m-auto p-5">
        <h1>SelandaTV</h1>
        <p class="text-light pt-5">SelandaTV es una herramienta para ver canales de television que emiten en abierto por todo el mundo.<br>Dale al play para empezar.</p>
    </div>
</div>
<div class="row text-center">
    <div class="col content">
            <button class="np-element np-hover np-circle-xxl" [routerLink]="['/player', 'tv']">
                <i class="gg-play-button-o m-auto"></i>
            </button>
    </div>
</div>
<div class="row">
    <div class="col footer ">
        <a [routerLink]="['/about']">Sobre SelandaTV</a>
        <a href="https://selandadev.000webhostapp.com">Desarrollado por Fran Garc&iacute;a</a>
    </div>
</div>
